name: Build

on:
  push:
    branches: ['master', 'main']
  pull_request:
    branches: ['master', 'main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Setup PHP with PECL extension
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
        extensions: yaml

    - uses: actions/checkout@v2

    - name: Run tests
      run: php test.php
